<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Users</key>
	<array>
		<dict>
			<key>APFSCryptoUserType</key>
			<string>LocalOpenDirectory</string>
			<key>APFSCryptoUserUUID</key>
			<string>ED05F054-E81E-41A7-BCA8-A31118049EC6</string>
		</dict>
		<dict>
			<key>APFSCryptoUserType</key>
			<string>PersonalRecovery</string>
		</dict>
	</array>
</dict>
</plist>
